In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

# Replace 'your_dataset.csv' with the name of your file
df = pd.read_csv(r"C:\Users\archa\Downloads\smart irrigation dataset.csv")

# Show the first 5 rows
df.head()

ModuleNotFoundError: No module named 'pandas'

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\archa\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import pandas as pd

df = pd.read_csv(r"C:\Users\archa\Downloads\smart irrigation dataset.csv")
df.head()

ModuleNotFoundError: No module named 'pandas'

In [5]:
import sys
print(sys.executable)

c:\Users\archa\AppData\Local\Programs\Python\Python312\python.exe

In [6]:
Restart Kernel → Run All

SyntaxError: invalid character '→' (U+2192) (3599026119.py, line 1)

In [7]:
import pandas as pd

df = pd.read_csv(r"C:\Users\archa\Downloads\smart irrigation dataset.csv")
df.head()

,Unnamed: 0,sensor_0,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,...,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,parcel_0,parcel_1,parcel_2
0,0,1,2,1,7,0,1,1,4,0,...,8,1,0,2,1,9,2,0,1,0
1,1,5,1,3,5,2,2,1,2,3,...,4,5,5,2,2,2,7,0,0,0
2,2,3,1,4,3,4,0,1,6,0,...,3,3,1,0,3,1,0,1,1,0
3,3,2,2,4,3,5,0,3,2,2,...,4,1,1,4,1,3,2,0,0,0
4,4,4,3,3,2,5,1,3,1,1,...,1,3,2,2,1,1,0,1,1,0

In [8]:
# Importing necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler
import joblib

ModuleNotFoundError: No module named 'matplotlib'

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler
import joblib

ModuleNotFoundError: No module named 'matplotlib'

In [10]:
Kernel → Restart Kernel

SyntaxError: invalid character '→' (U+2192) (2821177747.py, line 1)

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler
import joblib

In [12]:
df = pd.read_csv(r"C:\Users\archa\Downloads\smart irrigation dataset.csv")
df.head()

,Unnamed: 0,sensor_0,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,...,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,parcel_0,parcel_1,parcel_2
0,0,1,2,1,7,0,1,1,4,0,...,8,1,0,2,1,9,2,0,1,0
1,1,5,1,3,5,2,2,1,2,3,...,4,5,5,2,2,2,7,0,0,0
2,2,3,1,4,3,4,0,1,6,0,...,3,3,1,0,3,1,0,1,1,0
3,3,2,2,4,3,5,0,3,2,2,...,4,1,1,4,1,3,2,0,0,0
4,4,4,3,3,2,5,1,3,1,1,...,1,3,2,2,1,1,0,1,1,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2000 non-null   int64
 1   sensor_0    2000 non-null   int64
 2   sensor_1    2000 non-null   int64
 3   sensor_2    2000 non-null   int64
 4   sensor_3    2000 non-null   int64
 5   sensor_4    2000 non-null   int64
 6   sensor_5    2000 non-null   int64
 7   sensor_6    2000 non-null   int64
 8   sensor_7    2000 non-null   int64
 9   sensor_8    2000 non-null   int64
 10  sensor_9    2000 non-null   int64
 11  sensor_10   2000 non-null   int64
 12  sensor_11   2000 non-null   int64
 13  sensor_12   2000 non-null   int64
 14  sensor_13   2000 non-null   int64
 15  sensor_14   2000 non-null   int64
 16  sensor_15   2000 non-null   int64
 17  sensor_16   2000 non-null   int64
 18  sensor_17   2000 non-null   int64
 19  sensor_18   2000 non-null   int64
 20  sensor_19   2000 non-null   int64
 21  parcel_0    2000 non-null   int64
 22  parcel_1    2000 non-null   int64
 23  parcel_2    2000 non-null   int64
dtypes: int64(24)
memory usage: 375.1 KB

In [14]:
df.columns

Index(['Unnamed: 0', 'sensor_0', 'sensor_1', 'sensor_2', 'sensor_3',
       'sensor_4', 'sensor_5', 'sensor_6', 'sensor_7', 'sensor_8', 'sensor_9',
       'sensor_10', 'sensor_11', 'sensor_12', 'sensor_13', 'sensor_14',
       'sensor_15', 'sensor_16', 'sensor_17', 'sensor_18', 'sensor_19',
       'parcel_0', 'parcel_1', 'parcel_2'],
      dtype='object')

In [17]:
df= df.drop('Unnamed: 0', axis=1)
df.head()

KeyError: "['Unnamed: 0'] not found in axis"

In [18]:
df = df.drop(columns=['Unnamed: 0'], errors='ignore')
df.head()

,sensor_0,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,...,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,parcel_0,parcel_1,parcel_2
0,1,2,1,7,0,1,1,4,0,3,...,8,1,0,2,1,9,2,0,1,0
1,5,1,3,5,2,2,1,2,3,1,...,4,5,5,2,2,2,7,0,0,0
2,3,1,4,3,4,0,1,6,0,2,...,3,3,1,0,3,1,0,1,1,0
3,2,2,4,3,5,0,3,2,2,5,...,4,1,1,4,1,3,2,0,0,0
4,4,3,3,2,5,1,3,1,1,2,...,1,3,2,2,1,1,0,1,1,0

In [21]:
df.describe().T

            count    mean       std  min  25%  50%  75%   max
sensor_0   2000.0  1.4370  1.321327  0.0  0.0  1.0  2.0   8.0
sensor_1   2000.0  1.6590  1.338512  0.0  1.0  1.0  2.0   9.0
sensor_2   2000.0  2.6545  1.699286  0.0  1.0  2.0  4.0  10.0
sensor_3   2000.0  2.6745  1.855875  0.0  1.0  2.0  4.0  11.0
sensor_4   2000.0  2.8875  1.816451  0.0  2.0  3.0  4.0  12.0
sensor_5   2000.0  1.4110  1.339394  0.0  0.0  1.0  2.0   7.0
sensor_6   2000.0  3.3155  2.206444  0.0  2.0  3.0  5.0  13.0
sensor_7   2000.0  4.2015  2.280241  0.0  3.0  4.0  6.0  12.0
sensor_8   2000.0  1.2140  1.386782  0.0  0.0  1.0  2.0   8.0
sensor_9   2000.0  1.9010  1.518668  0.0  1.0  2.0  3.0   9.0
sensor_10  2000.0  3.0875  1.821127  0.0  2.0  3.0  4.0  10.0
sensor_11  2000.0  3.6085  2.058482  0.0  2.0  3.0  5.0  12.0
sensor_12  2000.0  4.3255  2.200220  0.0  3.0  4.0  6.0  15.0
sensor_13  2000.0  2.7315  1.774537  0.0  1.0  2.0  4.0  11.0
sensor_14  2000.0  3.4160  1.960578  0.0  2.0  3.0  5.0  11.0
sensor_15  2000.0  1.2065  1.258034  0.0  0.0  1.0  2.0   6.0
sensor_16  2000.0  2.3250  1.715181  0.0  1.0  2.0  3.0  10.0
sensor_17  2000.0  1.7295  1.561265  0.0  0.0  1.0  3.0  11.0
sensor_18  2000.0  2.2745  1.671690  0.0  1.0  2.0  3.0  10.0
sensor_19  2000.0  1.8135  1.469285  0.0  1.0  2.0  3.0   7.0
parcel_0   2000.0  0.6355  0.481410  0.0  0.0  1.0  1.0   1.0
parcel_1   2000.0  0.7305  0.443811  0.0  0.0  1.0  1.0   1.0
parcel_2   2000.0  0.2120  0.408827  0.0  0.0  0.0  0.0   1.0

In [22]:
X=df.iloc[:,0:20]
y=df.iloc[:,20:]

In [23]:
X.sample(10)

,sensor_0,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,sensor_11,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19
503,1,0,0,4,4,0,4,7,0,1,1,3,4,2,2,2,3,3,4,0
1210,4,1,3,1,1,2,4,4,0,3,4,2,7,2,4,0,6,1,0,1
1639,1,3,2,0,2,0,2,4,0,4,2,1,5,2,4,0,0,0,4,1
202,0,3,1,5,1,2,1,5,2,3,2,4,5,5,5,0,1,0,5,1
692,0,1,1,4,3,1,1,2,0,2,5,2,4,1,5,0,1,0,3,4
1995,4,1,2,2,1,1,1,2,1,2,4,3,3,1,2,3,2,1,1,0
342,0,0,5,1,2,2,3,2,3,2,0,2,2,1,1,1,1,1,2,1
723,1,2,2,4,3,1,2,6,0,2,9,5,1,1,2,0,3,0,3,4
1743,2,4,1,0,3,1,4,2,0,2,6,6,2,3,4,0,4,4,5,1
1620,2,4,3,1,6,3,1,1,4,2,4,2,0,6,3,2,2,4,4,2

In [24]:
y.sample(10)

      parcel_0  parcel_1  parcel_2
1660         1         1         0
1741         1         0         0
1511         0         0         0
1432         1         1         0
943          1         0         0
1751         0         0         0
1793         1         0         0
1200         1         1         0
672          1         1         1
687          1         1         0

In [25]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sensor_0   2000 non-null   int64
 1   sensor_1   2000 non-null   int64
 2   sensor_2   2000 non-null   int64
 3   sensor_3   2000 non-null   int64
 4   sensor_4   2000 non-null   int64
 5   sensor_5   2000 non-null   int64
 6   sensor_6   2000 non-null   int64
 7   sensor_7   2000 non-null   int64
 8   sensor_8   2000 non-null   int64
 9   sensor_9   2000 non-null   int64
 10  sensor_10  2000 non-null   int64
 11  sensor_11  2000 non-null   int64
 12  sensor_12  2000 non-null   int64
 13  sensor_13  2000 non-null   int64
 14  sensor_14  2000 non-null   int64
 15  sensor_15  2000 non-null   int64
 16  sensor_16  2000 non-null   int64
 17  sensor_17  2000 non-null   int64
 18  sensor_18  2000 non-null   int64
 19  sensor_19  2000 non-null   int64
dtypes: int64(20)
memory usage: 312.6 KB

In [26]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   parcel_0  2000 non-null   int64
 1   parcel_1  2000 non-null   int64
 2   parcel_2  2000 non-null   int64
dtypes: int64(3)
memory usage: 47.0 KB

In [27]:
X.shape,y.shape

((2000, 20), (2000, 3))